.burgerConstructor {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.rows {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.rowTopBottom{
    padding-left: 46px;
}

.rowContent{
    display: flex ;
    align-items: center;
    justify-content: space-around;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 30px;
    padding-bottom: 10px;
}

.currencyIcon {
    height: 33px;
    width: 33px;
}