.page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 60px;
    padding-left: 35px;
}

.navigationBar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20%;

}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 20%;

}

.logOut {
cursor: pointer;
}

.feed {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}