.ingredientRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.price {
    margin-left: auto;
    display: flex;
    align-items: center;
}