.appHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1C1C21;
    height: 88px;
}

.constructorIngredients {
    margin-right: 8px;
}

.feed {
    margin-right: 70px;
}

.logo {
    margin-right: 270px;
}